 /* NY CSS */ 

 .møtteam {
    display: flex;
    justify-content: center;       /* Sentrerer innholdet horisontalt */
    text-align: center;
    background: 
      radial-gradient(circle at 20% 70%, #f4f4f4 0%, transparent 99%),
      radial-gradient(circle at 99% 10%, #f4f4f4 0%, transparent 99%);
    padding: 0.5rem 1rem;
    max-width: 51%;
    margin: 2rem auto;             /* Dette sentrerer hele boksen */
    border-radius: 10px;           /* Optional: gjør det penere */
  }
.bilde-info-boks {
    margin: 2rem auto;
    margin-top:90px;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
    background: 
    radial-gradient(circle at 20% 70%, #f4f4f4 0%, transparent 99%),
    radial-gradient(circle at 99% 10%, #f4f4f4 0%, transparent 99%);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
  }
  .bilde-info-boks figure {
    
    text-align: center;
    margin: 0;
    width: 200px; /* Ensartet bredde for alle bilder */
    height: 250px; /* Ensartet høyde inkludert figcaption */
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .enkelt-bilde-info-boks {
    margin: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
    background:
    radial-gradient(circle at 20% 70%, #f4f4f4 0%, transparent 99%),
    radial-gradient(circle at 99% 10%, #f4f4f4 0%, transparent 99%);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  .enkelt-bilde-info-boks figure {
    text-align: center;
    margin: 0;
    width: 200px; /* Ensartet bredde for alle bilder */
    height: 250px; /* Ensartet høyde inkludert figcaption */
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .team-bilde {
    width: 500px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    flex-shrink: 0;
  }
  .enkelt-bilde {
    width: 135px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    flex-shrink: 0;
  }
  
  .bilde-tekst {
    flex: 1;
  }
  
  .bilde-tekst h2 {
    margin: 0 0 10px;
    font-size: 1.6rem;
  }
  
  .bilde-tekst p {
    margin: 0;
    font-size: 1rem;
    color: #444;
  }

  .person-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0rem;
  }